.main-container {
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, .2);
  margin: 30px;
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  width: 660px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}

.box {
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 0;
  border: .5px solid rgba(0, 0, 0, .3);
}

.canvas {
  background-color: white;
}

.palette {
  display: flex;
  flex-flow: row wrap;
  padding-top: 10px;
}

.gradients-palette {
  display: flex;
  flex-flow: row wrap;
  padding-top: 10px;
}

.palette-color {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: .5px solid rgba(0, 0, 0, 1);
  margin: 5px;
}

#current-color {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  max-height: 14px;
  max-width: 14px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 18px;
  margin-left: 5px;
}

.tool-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tool-selector > div {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  border: .25px solid rgba(0,0,0, .1);
  padding: 10px;
  color: rgba(0,0,0,.3);
}

.tool-selector > div:hover {
  background-color: rgba(255,255,255,.2);
  color: rgba(0,0,0,.7);
}

.hidden {
  display: none;
}